@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href = '@Url.Action("SelectPaquete","Home")'>SelectPaquete</a>

@{
    int num = 1;

    if(ViewBag.Dic != null)
    {
    foreach(string destino in ViewBag.Dic.Keys )
        {

        int destinoFinal = int.Parse(destino);
        <div>   
    <p>@ViewBag.ListaDestinos[destinoFinal]</p>
        </div>
        num++;
        }
    }
}