@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href='@Url.Action("SelectPaquete","Home")'>SelectPaquete</a>

@if (ViewBag.Dic != null)
{
    <div>
        <h2>Paquetes Guardados</h2>
        <ul>
            @foreach (var destino in ViewBag.Dic.Keys)
            {
                var paquete = ViewBag.Dic[destino];
                int destinoIndex = int.Parse(destino) - 1;
                <li>
                    <h3>@ORTWorld.ListaDestinos[destinoIndex]</h3>
                    <p>Hotel elegido:</p>
                    <img src="/images/@paquete.Hotel" alt="Imagen hotel">
                    <p>Avion elegido:</p>
                    <img src="/images/@paquete.Aereo" alt="Imagen Aereo">
                    <p>Excursion elegida:</p>
                    <img src="/images/@paquete.Excursion" alt="Imagen excursion">

                </li>
            }
        </ul>
    </div>
}
